@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #121212;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  color: white !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
}
